<div class="modal-header">
    <h1>Add Crew</h1>
    <div class="modal-close-btn" (click)="closeModal()">X</div>
</div>
<div class="modal-body">
    <form #theForm="ngForm">
        <div class="fields">
            <div class="field">
                <label>Name</label>
                <input
                    required
                    pattern=".*?"
                    #name="ngModel"
                    ngModel
                    name="name"
                    class="form-control"
                    type="text">
                    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
                        A name is required.
                    </div>
            </div>

            <div class="field">
                <p>Members</p>
                <input type="text" class="form-control" placeholder="Search...">
                <div class="member-table">
                    <table class="table">
                        <tr *ngFor="let member of members">
                            <td>
                                <img class="user-img" [src]="member.imageJWT">
                            </td>
                            <td>
                                {{ member.email }}
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
        <div class="modal-create-btn">
            <input type="button"
            class="btn btn-primary"
            [disabled]="!theForm.valid"
            value="Create">
        </div>
    </form>

</div>
