<h1>Job</h1>

<div class="layout">
    <div class="job-info">
        <h2>Info</h2>
        <div class="fields">
            <div class="field">
                <label for="">Name</label>
                <input class="form-control" type="text" [value]="job.name" readonly>
            </div>
            <div class="field">
                <label for="">Address</label>
                <input type="text" class="form-control" readonly [value]="job.address">
            </div>
            <div class="field">
                <label>Notes</label>
                <textarea [value]="job.notes" class="form-control" readonly style="resize: none;"></textarea>
            </div>
            <div class="field"></div>
        </div>
        <div class="photos">
            <div class="before-photos">
                <h2>Before Photos</h2>

                <input type="button" class="btn btn-primary" (click)="openBeforePhotos()" value="Take Pictures">

                <div class="image-area">
                    <ng-container *ngFor="let image of beforePhotos">
                        <img [src]="image.data">
                    </ng-container>
                </div>
            </div>
            <div class="after-photos">
                <h2>After Photos</h2>
                <input type="button" class="btn btn-primary" (click)="openAfterPhotos()" value="Take Pictures">

                <div class="image-area">
                    <ng-container *ngFor="let image of afterPhotos">
                        <img [src]="image.data">
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="job-comments">
        <h2>Comments</h2>
        <textarea [(ngModel)]="comment" class="form-control" name="comment" style="width: 100%; resize: none;" rows="3"></textarea>
        <div style="display: flex; justify-content: flex-end; margin-top: 0.5rem;">
            <input (click)="postComment()"  type="button" class="btn btn-primary" value="Post">
        </div>
        <div class="comments">
            <div class="comment" *ngFor="let comment of job.comments">
                <div class="comment-header">
                    <div class="email">
                        {{ comment.email }}
                    </div>
                    <div class="created-at" style="text-align: right;">
                        {{ comment.timestamp | timeago }}
                    </div>
                </div>
                <div class="comment-txt">
                    {{ comment.text }}
                </div>
            </div>
        </div>
    </div>
</div>

