.image-area {
    display: flex;
    max-width: 100%;
    gap: 0.1rem;
    overflow-x: scroll;
}

.layout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
}

.photos {
    display: grid;
    gap: 5rem;
}

.comments {
    margin-top: 1rem;
}

.comment {
    border: 1px solid rgba(0, 0, 0, 0.521);
    border-bottom: none;

    &:last-of-type {
        border-bottom: 1px solid black;
    }
}

.comment-txt {
    padding: 1rem;
}

.comment-header {
    background-color: rgb(232, 232, 232);
    padding: 0.25rem 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
}


@media screen and (min-width: 900px) {
    .layout {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}