<div class="modal-header">
    <h1>Add Job</h1>
    <div class="red-x" (click)="activeModal.close()">
        X
    </div>
</div>
<div class="modal-body">

    <form #theForm="ngForm">
        <div class="fields">
            <div class="field">
                <label for="">Name</label>
                <input
                    (input)="custID = ''"
                    #name="ngModel"
                    ngModel
                    name="name"
                    required
                    [(ngModel)]="custName"
                    (input)="searchCustomer(name.value)"
                    class="form-control"
                    type="text"
                    >
                <div *ngIf="showSearch" class="dropdown">
                    <div (click)="custName = cust.name; custID = cust.custID; custAddress = cust.address; showSearch = false"
                        *ngFor="let cust of searchedCustomers"
                        class="dropdown-item">
                        {{ cust.name }} <br>
                        {{ cust.address }}
                    </div>
                </div>
                <div *ngIf="name.touched && !name.valid" class="alert alert-danger">
                    This field is required.
                </div>
            </div>
            <div class="field">
                <label>Address</label>
                <input
                    name="address"
                    #address="ngModel"
                    ngModel
                    [(ngModel)]="custAddress"
                    class="form-control"
                    required
                    type="text">
                <div *ngIf="address.touched && !address.valid" class="alert alert-danger">
                    This field is required.
                </div>
            </div>

            <div class="field group-field">
                <label>Crews</label>
                <div class="crew-tbl">
                    <table class="table">
                        <tr (click)="crew.selected = !crew.selected" *ngFor="let crew of crews">
                            <td>{{ crew.name }}</td>
                            <td>
                                <input
                                    readonly
                                    type="checkbox"
                                    [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="crew.selected">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="field">
                <label>Notes</label>
                <textarea
                    #notes
                    style="resize: none;"
                    name="notes"
                    class="form-control"
                    cols="30"
                    rows="5"></textarea>
            </div>
            <div class="centered">
                <div class="form-check form-switch" style="font-size: 12pt; margin-bottom: 0.5rem;">
                    <input
                        id="isSeasonal"
                        class="form-check-input"
                        [(ngModel)]="isSeasonal"
                        type="checkbox"
                        name="isSeasonal">
                <label for="isSeasonal" class="form-check-label">Seasonal</label>
                </div>
            </div>
        </div>
    </form>
    <div class="centered" *ngIf="isSeasonal">
        <div>
            <input
                class="form-check-input"
                id="seasonalDaily"
                #seasonalDaily="ngModel"
                ngModel
                [(ngModel)]="seasonalType"
                type="radio"
                value="daily"
                name="seasonalType">
            <label style="font-size: 10pt;" for="seasonalDaily">Seasonal Daily</label> <br>

            <input
                class="form-check-input"
                id="seasonalWeekly"
                #seasonalDaily="ngModel"
                ngModel
                [(ngModel)]="seasonalType"
                type="radio"
                value="weekly"
                name="seasonalType">
            <label style="font-size: 10pt;" for="seasonalWeekly">Seasonal Weekly</label> <br>

            <input
                class="form-check-input"
                id="seasonalMonthly"
                #seasonalDaily="ngModel"
                ngModel
                [(ngModel)]="seasonalType"
                type="radio"
                value="monthly"
                name="seasonalType">
            <label style="font-size: 10pt;" for="seasonalMonthly">Seasonal Monthly</label> <br>

            <input
                class="form-check-input"
                id="seasonalYearly"
                #seasonalDaily="ngModel"
                ngModel
                [(ngModel)]="seasonalType"
                type="radio"
                value="yearly"
                name="seasonalType">
            <label style="font-size: 10pt;" for="seasonalYearly">Seasonal Yearly</label> <br>
        </div>
    </div>
    <div *ngIf="!isSeasonal">
        <add-job-single
            [custName]="name.value"
            [address]="address.value"
            [notes]="notes.value"
            [custID]="custID"
            [mainFormIsValid]="theForm.valid"
        ></add-job-single>
    </div>

    <ng-container *ngIf="isSeasonal">
        <div *ngIf="seasonalType == 'daily'">
            <add-job-daily
                [custName]="name.value"
                [address]="address.value"
                [notes]="notes.value"
                [custID]="custID"
                [crewIDs]="getSelectedCrews()"
                [mainFormIsValid]="theForm.valid"
            ></add-job-daily>
        </div>
        <div *ngIf="seasonalType == 'weekly'">
            <add-job-weekly
                [custName]="name.value"
                [address]="address.value"
                [notes]="notes.value"
                [custID]="custID"
                [crewIDs]="getSelectedCrews()"
                [mainFormIsValid]="theForm.valid"
            ></add-job-weekly>
        </div>

        <div *ngIf="seasonalType == 'monthly'">
            <add-job-monthly
                [custName]="name.value"
                [address]="address.value"
                [notes]="notes.value"
                [custID]="custID"
                [crewIDs]="getSelectedCrews()"
                [mainFormIsValid]="theForm.valid"
            ></add-job-monthly>
        </div>
        <div *ngIf="seasonalType == 'yearly'">
            <add-job-yearly
                [custName]="name.value"
                [address]="address.value"
                [notes]="notes.value"
                [custID]="custID"
                [crewIDs]="getSelectedCrews()"
                [mainFormIsValid]="theForm.valid"
            ></add-job-yearly>
        </div>
    </ng-container>
</div>
