.customer-area {
    margin-top: 1rem;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}


@media screen and (min-width: 900px) {
    .customer-area {
        grid-template-columns: repeat(2, 1fr);
    }
}