<div class="modal-header">
    <h1>{{ dt | date: 'M/d/YY' }}</h1>

    <p (click)="activeModal.close()" class="red-x">X</p>

</div>
<div class="modal-body">

    <div class="fields">
        <div class="field">
            <label>Name</label>
            <input type="text">
        </div>
        <div class="field">
            <label>Time</label>
            <input type="time">
        </div>
        <div class="field">
            <label for="">Notes</label>
            <textarea type="text" style="resize: none;"></textarea>
        </div>
        <div class="field">
            <label>Tasks</label>
            <table class="table">
                <tr>
                    <td>Landscaping</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Gutters</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Tree Removal</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Damage Repair</td>
                    <td><input type="checkbox"></td>
                </tr>
            </table>
        </div>
    </div>

    <div style="display: flex; justify-content: flex-end;">
        <input type="button" class="btn btn-primary" value="Create">
    </div>

</div>
