.calendar-area {
    width: 100%;
    height: 100%;
    min-height: 100rem;
}

.week {
    display: grid;
    --bdr: 1px solid black;
    grid-template-columns: repeat(7, 1fr);
    border-left: var(--bdr);
    border-top: var(--bdr);
    border-right: var(--bdr);
    height: 8rem;

    &:last-of-type {
        border-right: var(--bdr);
        border-bottom: var(--bdr);
    }
}

.day {
    height: 4rem;
    width: 6rem;
    width: 100%;
    height: 100%;
    padding: 0.2rem;

    border-right: var(--bdr);

    &:last-of-type {
        border-right: none;
    }
}

.weekday-names {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 0.5rem;
}

.weekday-name {
    text-align: center;
}