<div class="calendar-area">
    <div class="week">
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
    </div>
    <div class="week">
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
    </div>
    <div class="week">
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
    </div>
    <div class="week">
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
    </div>
    <div class="week">
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
        <div class="day">Day</div>
    </div>
</div>