<!-- See here for info about connecting all lists together -->
<div cdkDropListGroup class="calendar-area">

    <div class="weekday-names">
        <div class="weekday-name" *ngFor="let weekdayName of weekdayNames">
            {{ weekdayName }}
        </div>
    </div>

    <div class="days">
        <ng-container *ngFor="let day of days">

        <div class="day"
            (dragstart)="startDragging($event, day, ''); dragging = true;"
            (dragover)="dragOver($event, day); dragging = true;"
            (dragend)="dragDrop($event, day); dragging = false;"
            (mouseenter)="hoverOver($event, day)"
            [attr.date]="day.toISOString().split('T')[0]"
            >
            <div class="day-date">
                <ng-container *ngIf="day.getDate() === 1">
                    <strong>{{ day | date : 'MMM d' }}</strong>
                </ng-container>
                <ng-container *ngIf="day.getDate() !== 1">
                    {{ day.getDate() }}
                </ng-container>
            </div>
            <ng-container *ngFor="let job of getJobs(day);">
                <div
                    draggable="true"
                    [attr.date]="day.toISOString().split('T')[0]"
                    [attr.jobID]="job"
                    class="example-box"
                    >
                    {{ day.toISOString() }}
                </div>
        </ng-container>
        </div>
        </ng-container>
    </div>
</div>