<div class="modal-header">
    <h1>Job for {{ date | date }}</h1>
</div>
<div class="modal-body">
    <div class="fields">
        <div class="field">
            <input type="time" [value]="time">
        </div>
        <div class="field group-field">
            <table class="table">
                <tr>
                    <td>Lawn Care</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Gutters</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Weeds</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Gutters</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Gutters</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Gutters</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Gutters</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Gutters</td>
                    <td><input type="checkbox"></td>
                </tr>
            </table>
        </div>
        <div class="field">
            <label for="">Notes</label>
            <textarea style="resize: none;" name="" id="" cols="30" rows="10"></textarea>
        </div>
    </div>
</div>