<div class="modal-header">
    {{ title }}
    <div class="red-x" (click)="close()">
        X
    </div>
</div>
<div class="modal-body">


    <video id="video"></video>
    <div class="inputs">
        <div id="outer-circle" (click)="takePicture()">
        </div>
    </div>
    <canvas  id="canvas" style="width: 1px; height: 1px;" class="canvas"></canvas>
    <div class="image-area">
        <ng-container *ngFor="let image of photos; index as i">
            <div class="img-area">
                <img  [src]="image.data">
                <div (click)="removeImage(i)" class="red-x">
                    x
                </div>
            </div>
        </ng-container>
    </div>
    <div class="upload-area" style="display: flex; margin-top: 1rem; justify-content: flex-end;">
        <input type="button" class="btn btn-primary" value="Upload">
    </div>
</div>
