<div class="modal-header">
    <h1>Job for {{ date | date: 'MMM d' }}</h1>
    <div class="red-x" (click)="activeModal.close()">
        X
    </div>
</div>
<div class="modal-body">

    <form #theForm="ngForm">
        <div class="fields">
            <div class="field">
                <label for="">Time</label>
                <select
                     class="form-select"
                     name="selectedTimeslot">
                    <option
                        *ngFor="let timeslot of timeslots"
                        [value]="date.split('T')[0] + 'T' + timeslot"
                        [selected]="date.split('T')[0] + 'T' + timeslot === date.split('T')[0] + 'T' + time + ':00'"
                        >
                        {{date.split('T')[0] + 'T' + timeslot | date: 'hh:mm a'}}
                    </option>
                </select>
            </div>
            <div class="field">
                <label>Address</label>
                <input
                    name="address"
                    #address="ngModel"
                    ngModel
                    class="form-control"
                    required
                    type="text">
                <div *ngIf="address.touched && !address.valid" class="alert alert-danger">
                    This field is required.
                </div>
            </div>
            <div class="field group-field">
                <label>Crews</label>
                <table class="table">
                    <tr *ngFor="let crew of crews">
                        <td>{{ crew.name }}</td>
                        <td><input type="checkbox" [(ngModel)]="crew.selected"></td>
                    </tr>
                </table>
            </div>
            <div class="field">
                <label for="">Notes</label>
                <textarea
                    #notes
                    style="resize: none;"
                    name="notes"
                    class="form-control"
                    cols="30"
                    rows="5"></textarea>
            </div>
        </div>
        <div style="margin-top: 0.5rem; display: flex; justify-content: flex-end;">
            <input type="button" class="btn btn-primary" value="Create" [disabled]="!theForm.valid">
        </div>
    </form>
</div>