<form #theForm="ngForm">
    <div class="month-range">
        <div class="month-select">
            <label for="startMonth">Start Month</label>
            <select
                [(ngModel)]="startMonth"
                name="startMonth"
                class="form-select"
                id="startMonth">
                <option
                    *ngFor="let month of months; index as i"
                    [value]="i"
                    >{{ month }}</option>
            </select>
        </div>
        <div class="month-select">
            <label for="endMonth">End Month</label>
            <select
                [(ngModel)]="endMonth"
                name="endMonth"
                class="form-select"
                id="endMonth">
                <option
                    *ngFor="let month of months; index as i"
                    [value]="i"
                    >
                    {{ month }}
                </option>
            </select>
        </div>
    </div>
    <div>
        <div class="form-check" style="display: flex; gap: 1rem;">
            <div>
                <label class="form-check-label">Every</label>
            </div>
            <div>
                <select
                    required
                    #selectedMonth="ngModel"
                    ngModel>
                    <option
                        [value]="opt"
                        *ngFor="let opt of getMonthRange()">
                        {{ opt }}
                    </option>
                </select>
            </div>
            <div>
                <label class="form-check-label">month(s)</label>
            </div>
        </div>
    </div>
    <div>
        <!-- Day 1 every 2 months -->
        <div style="display: flex; gap: 1rem;">
            <div class="form-check">
                <input
                    class="form-check-input"
                    [(ngModel)]="certainDay"
                    (click)="toggle()"
                    name="certainDay"
                    type="checkbox"
                    >
                <label
                    class="form-check-label">Day</label>
            </div>
            <div>
                <select
                    [disabled]="certainDate"
                    #selectedDay="ngModel"
                    name="certainDate"
                    ngModel>
                    <option *ngFor="let d of daySelection();" [value]="1">
                        {{ d }}
                    </option>
                </select>
            </div>
        </div>

        <!-- Every 'first' 'Sunday' of every 2 months -->
        <div style="display: flex;">
            <div class="form-check">
                <input
                    class="form-check-input"
                    [(ngModel)]="certainDate"
                    (click)="toggle()"
                    name="certainDate"
                    type="checkbox"
                    >
                <label
                    style="margin-right: 0.5rem;"
                    class="form-check-label"
                    >Every
                </label>

                    <select
                        [disabled]="!certainDate"
                        #nDay
                        style="width: 10ch;"
                        >
                        <option value="1">first</option>
                        <option value="2">second</option>
                        <option value="3">third</option>
                        <option value="4">fourth</option>
                        <option value="5">last</option>
                    </select>
            </div>
            <div>
                <select
                    [disabled]="certainDay"
                    #selectedDay>
                    <option
                        *ngFor="let day of days; index as i"
                        [value]="i">{{ day.name }}</option>
                </select>
            </div>
        </div>

        <div style="display: flex; justify-content: flex-end;">
            <input
                type="button"
                class="btn btn-primary"
                (click)="createMonthlyJob(startMonth, endMonth,
                                          certainDay, +nDay.value,
                                          +selectedDay.value)"
                value="Create">
        </div>
    </div>
</form>

