<h1>Customers</h1>
<div class="create-widget">
    <input type="button" (click)="createCustomer()" value="Add Customer">
</div>
<table class="table">
    <thead>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>
            <!-- Empty -->
        </th>
        <th>
            <!-- Empty -->
        </th>
        <th>
            <!-- Empty -->
        </th>
    </thead>
    <tr [routerLink]="['/customers/' + customer.custID]" *ngFor="let customer of customers">
        <td>{{ customer.name }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.phoneNumber }}</td>
        <td>
            <!-- Empty -->
        </td>
        <td>
            <!-- Empty -->
        </td>
        <td>
            <!-- Empty -->
        </td>
    </tr>
</table>
