<h1>Crews</h1>

<div class="create-widget">
    <input type="button" (click)="addCrew()" value="Add Crew">
</div>

<table class="table">
    <thead>
        <th>Name</th>
        <th>Description</th>
    </thead>
    <tr [routerLink]="['/crews/' + crew.crewID]" class="crew" *ngFor="let crew of crews">
        <td [style.background-color]="crew.color"
            [ngStyle]="{'color': crew.useBlackText ? 'black' : 'white' }"
        >{{ crew.name }}
        </td>
        <td>{{ crew.description }}</td>
    </tr>
</table>
