.nav-bar {
  --bdr: 1px solid rgb(209, 209, 209);
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 14pt;
  border-top: var(--bdr);
  border-bottom: var(--bdr);
  padding: 0.2rem;
  position: sticky;
  & li {
    padding: 0.35rem;
    border-radius: 10px;
    font-weight: 500;

    &:hover {
        cursor: pointer;
        background-color: rgb(233, 233, 233);
      }
    }
}

.main-area {
  padding-left: 3rem;
  padding-right: 3rem;
}
