<h1>Group</h1>

<div class="group-area">

    <div class="group-info">
        <div class="group-inputs">
            <div class="fields">
                <div class="field">
                    <label for="">
                        Name
                    </label>
                    <input
                        [(ngModel)]="crew.name"
                        class="form-control"
                        type="text">
                </div>
                <div class="field">
                    <label for="">Description</label>
                    <textarea
                        [(ngModel)]="crew.description"
                        class="form-control"
                        style="resize: none;"
                        cols="30"
                        rows="10"></textarea>
                </div>
            </div>
        </div>
        <div class="members">
            <div class="members-top" style="display: flex; gap: 2rem; margin-bottom: 2rem;">
                <h2>Members</h2>
                <div>
                    <input type="button" class="btn btn-primary" value="Edit">
                </div>
            </div>

            <div><img
                    class="user-img"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Elon_Musk_Colorado_2022_%28cropped2%29.jpg/330px-Elon_Musk_Colorado_2022_%28cropped2%29.jpg" alt=""></div>
            <div>B</div>
            <div>C</div>
            <div>D</div>
            <div>E</div>
        </div>
    </div>
</div>
