<h1>Crew</h1>

<div class="crew-area">

    <div class="crew-inputs">
        <div class="fields">
            <div class="field">
                <label for="">
                    Name
                </label>
                <input
                    [(ngModel)]="crew.name"
                    class="form-control"
                    type="text">
            </div>
            <div class="field">
                <label for="">Description</label>
                <textarea
                    [(ngModel)]="crew.description"
                    class="form-control"
                    style="resize: none;"
                    cols="30"
                    rows="10"></textarea>
            </div>
        </div>
        <div style="display: flex; justify-content: flex-end; margin-top: 1rem;">
            <input
                type="button"
                (click)="save()"
                class="btn btn-primary"
                value="Save">
        </div>
    </div>
    <div class="members">
        <div class="members-top" style="display: flex; gap: 2rem;">
            <h2>Members</h2>
            <div>
                <input
                    type="button"
                    (click)="editCrew()"
                    class="btn btn-primary"
                    value="Edit">
            </div>
        </div>

        <table class="table">
            <tr *ngFor="let member of crew.members">
                <td>{{ member.email }}</td>
            </tr>
        </table>

    </div>
</div>
