
<form #theForm="ngForm">
    <div class="recurring-values">
        <div class="start-date">
            <label
                class="form-check-label"
                style="padding-top: 0.3rem"
                for="startDate">
                Start Date
            </label>
            <input
                type="date"
                #startDate="ngModel"
                ngModel
                name="startDate"
                required>
        </div>
        <div class="end-date-values">
            <div style="display: flex; gap: 0.25rem; align-items: center; justify-content: flex-start; margin-bottom: 0.25rem;">
                <input
                (click)="toggle()"
                [checked]="useEndDate"
                type="radio"
                >
                <label
                    class="form-check-label"
                    for="endDate">End Date</label>
                <input
                    type="date"
                    name="endDate"
                    #endDate="ngModel"
                    style="width: 16ch;"
                    ngModel
                    [disabled]="useEndAfter"
                    required>
            </div>
            <div>
                <div class="end-after">
                    <input
                        type="radio"
                        (click)="toggle()"
                        [checked]="useEndAfter"
                        [value]="useEndAfter"
                        >
                    <label
                        class="form-check-label"
                        for="endDate">End After:
                    </label>
                    <input
                        type="number"
                        #endAfterRecurrences="ngModel"
                        ngModel
                        [disabled]="useEndDate"
                        style="width: 8ch;"
                        value="1"
                        min="1"
                        max="100"
                        name="endDate"
                        step="1"
                        required>
                    <label style="padding-top: 0.35rem;">times</label>
                </div>
                <div class="alert alert-danger" *ngIf="(endDate.value < startDate.value) && useEndDate">
                    End date cannot be before start date.
                </div>
            </div>
        </div>
    </div>
    <div class="day-area">
        <div class="days-of-week">
            <div *ngFor="let day of days" class="day">
                <input
                    class="form-check-input"
                    id="seasonalMonthly"
                    type="checkbox"
                    [(ngModel)]="day.selected"
                    [name]="day.name">
            <label for="seasonalMonthly">{{ day.name }}</label> <br>
            </div>
        </div>
    </div>

    <div style="display: flex; justify-content: flex-end;">
        <input
            type="button"
            [disabled]="!mainFormIsValid ||
                        !weekdayIsSelected ||
                        !theForm.valid ||
                        (endDate.value < startDate.value) && useEndDate ||
                        (endAfterRecurrences.value < 1) && useEndAfter
                        "
            class="btn btn-primary"
            (click)="createWeeklyJob(startDate.value, endDate.value)"
            value="Create">
    </div>
</form>
